<div class="dropdown colour-picker-container">
  <button [ngClass]="buttonClass" data-toggle="dropdown" id="dropdownMenu1"
    aria-haspopup="true" aria-expanded="true" [ngStyle]="{'background': buttonColour}">
    <span class="fa fa-paint-brush current-colour"></span>
  </button>
  <ul dropdownMenu [ngClass]="dropdownClass" class="dropdown-menu colour-picker-dropdown" aria-labelledby="dropdownMenu1">
      <li class="colour-picker-colour" *ngFor="let colour of defaultColours" [style.width]="width + 'px'" [style.height]="height + 'px'"
          [style.border-radius]="borderRadius + 'px'" [style.background-color]="colour" (click)="setColour(colour)" [title]="colour">
      </li>
  </ul>
</div>

