<div *ngIf="courses" class="panel-group" id="courses-accordion">
  <div *ngFor="let course of courses" class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <a data-toggle="collapse" data-parent="#courses-accordion" href="#{{course.id}}" (click)="switchSlide(course);">
        <h4 class="panel-title">
          <span *ngIf="course.id == currentSlide" class="fa fa-chevron-down panel-chevron-style"></span>
          <span *ngIf="course.id != currentSlide" class="fa fa-chevron-right panel-chevron-style"></span>
          <b>{{course.code}} with {{course.instructor}}</b>
        </h4>
      </a>
    </div>
    <div id="{{course.id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="container-fluid">
          <form>
            <div class="container-fluid form-group row">
              <label class="col-sm-2 col-form-label">Course:</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" value="{{course.code}}">
              </div>
            </div>
            <div class="container-fluid form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Instructor:</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" value="{{course.instructor}}">
              </div>
            </div>
          </form>
          <!--DESCRIPTION-->
          <div class="form-group">
            <label>Course Description:</label>
            <textarea class="form-control" rows="3">{{course.description}}</textarea>
          </div>
        </div>
        <!--LECTURES-->
        <div class="col-sm-4 col-xs-12">
          <h2>Lecture Time</h2>
          Selected index: {{course.lectureSelected}}
          <div *ngIf="course.lectures">
            <div *ngFor="let lecture of course.lectures">
              <div class="input-group">
                <span class="input-group-addon">
                  {{lecture.label}}
                </span>
                <span class="input-group-addon">
                  <input type="radio" name="{{course.id}}lectureTime" value="{{lecture.index}}"
                    [(ngModel)]="course.lectureSelected">
                    <!-- ^ TODO Fix the which one is originally selected-->
                </span>
                <input type="text" class="form-control" value="{{lecture.time}}">
              </div>
            </div>
          </div>
          <div *ngIf="!course.lectures">
            No lectures!
          </div>
        </div>
        <!--TUTORIALS-->
        <div class="col-sm-4 col-xs-12">
          <h2>Tutorial Time</h2>
          Selected index: {{course.tutorialSelected}}
          <div *ngIf="course.tutorials">
            <div *ngFor="let tutorial of course.tutorials">
              <div class="input-group">
                <span class="input-group-addon">
                  {{tutorial.label}}
                </span>
                <span class="input-group-addon">
                  <input type="radio" name="{{course.id}}tutorialTime" value="{{tutorial.index}}"
                    [(ngModel)]="course.tutorialSelected">
                    <!-- ^ TODO Fix the which one is originally selected-->
                </span>
                <input type="text" class="form-control" value="{{tutorial.time}}">
              </div>
            </div>
          </div>
          <div *ngIf="!course.tutorials">
            No tutorials!
          </div>
        </div>
        <!--PRACTICALS-->
        <div class="col-sm-4 col-xs-12">
          <h2>Practical Time</h2>
          Selected index: {{course.practicalSelected}}
          <div *ngIf="course.practicals">
            <div *ngFor="let practical of course.practicals">
              <div class="input-group">
                <span class="input-group-addon">
                  {{practical.label}}
                </span>
                <span class="input-group-addon">
                  <input type="radio" name="{{course.id}}practicalTime"
                    value="{{practical.index}}" [(ngModel)]="course.practicalSelected">
                    <!-- ^ TODO Fix the which one is originally selected-->
                </span>
                <input type="text" class="form-control" value="{{practical.time}}">
              </div>
            </div>
          </div>
          <div *ngIf="!course.practicals">
            No practicals!
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" (click)="updateCourse(course);">Update</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!courses">
  <h1>Ooops! Either courses tab failed to load, or you haven't uploaded any.</h1>
</div>
