<div class="login-section">
    <div class="input-panel">
        <div class="logo">
            Spore
        </div>
        <div class="username">
            <input type="text" id="email" placeholder="Email" class="email-div">
        </div>
        <div class="password">
            <input type="password" name="password" placeholder="Password" class="password-div">
        </div>
        <div class="remember-me-box">
            <label class="checkbox-label"><input type="checkbox" class="remember-checkbox"/> Remember Me</label>
        </div>
        <div class="forgot-password">
            <label>Forgot Password?</label>
        </div>
        <div class="facebook-login">
            <button class="facebook-button">Log in with Facebook</button>
        </div>
        <div class="google-login">
            <button class="google-button">Log in with Google</button>
        </div>
        <div class="linkedin-login">
            <button class="linkedin-button">Log in with LinkedIn</button>
        </div>
    </div>

    <ul class="shapes-background">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="info-section">
    Info Section
</div>