.input-panel {

}
.logo {
  text-align: center;
  position: static;
  display: block;
  margin: auto;
  width: 50%;
  color: #FFFFFF;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
}

.spore-logo {
  width: 336px;
  height: 350px;
  margin-top: 50px;
}

.email-div {
  position: relative;
  display: block;
  top: 0px;
  right: 150px;
  margin: auto;
  border-radius: 4px;
  border: none;
  padding: 12px;
  z-index: 2;
}

.password-div {
  position: relative;
  display: block;
  top: 10px;
  right: 150px;
  margin: auto;
  border-radius: 4px;
  border: none;
  padding: 12px;
  z-index: 2;
}

.remember-me-box {
  position: relative;
  display: block;
  top: 20px;
  text-align: center;
  right: 208px;
  z-index: 2;

}

.remember-checkbox {

}

.checkbox-label {
  color: #FFFFFF;
  font-size: 10px;
}

.forgot-password {
  position: relative;
  display: block;
  top: 6px;
  text-align: center;
  right: 92px;
  z-index: 2;
  color: #0a0a0a;
  font-size: 10px;
  font-style: italic;
}

.spore-login {
  position: relative;
  display: block;
  top: 20px;
  right: 205px;
  text-align: center;
  z-index: 2;
}

.login-button {
  border: none;
  border-radius: 4px;
}

.spore-sign-up {
  position: relative;
  display: block;
  bottom: 17px;
  right: 89px;
  text-align: center;
  z-index: 2;
}

.sign-up-button {
  border: none;
  border-radius: 4px;
}

.facebook-login {
  position: relative;
  display: block;
  bottom: 197px;
  left: 125px;
  text-align: center;
  z-index: 2;
}

.facebook-button {
  border: none;
  border-radius: 4px;
}

.google-login {
  position: relative;
  display: block;
  bottom: 187px;
  left: 125px;
  text-align: center;
  z-index: 2;
}

.google-button {
  border: none;
  border-radius: 4px;
}

.linkedin-login {
  position: relative;
  display: block;
  bottom: 177px;
  left: 125px;
  text-align: center;
  z-index: 2;
}

.linkedin-button {
  border: none;
  border-radius: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.login-section {
  background: #eda856;
  background: -webkit-linear-gradient(top left, #eda856 0%, #fad565 100%);
  background: linear-gradient(to bottom right, #eda856 0%, #fad565 100%);
  position: relative;
  left: 0;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.login-section.form-success .container h1 {
  -webkit-transform: translateY(85px);
  transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.shapes-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.shapes-background li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  border-radius: 50%;
  -webkit-animation: pulse 25s infinite;
  animation: pulse 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.shapes-background li:nth-child(1) {
  left: 10%;
}
.shapes-background li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}
.shapes-background li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.shapes-background li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.shapes-background li:nth-child(5) {
  left: 70%;
}
.shapes-background li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.shapes-background li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.shapes-background li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.shapes-background li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.shapes-background li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}

.info-section {
  width: 100%;
  position: absolute;
}
