<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../.././../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../.././../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="login-body">
    <div class="jumbotron-large text-center">
        <img src="app/resources/icons/logos/spore-logo-login.png" class="spore-logo" style="padding:15px;" />
        <div class="row">
            <div class="col-sm-6 text-right center-when-small" style="padding:15px 25px 15px 15px;line-height:1.8;z-index:2;">
                    <input style="padding:5px;border-radius:5px;margin:5px;" type="text" placeholder="EMAIL" id="username"/><br>
                    <input style="padding:5px;border-radius:5px;margin:5px;" type="password" placeholder="PASSWORD" id="password"/><br>
                    <input type="checkbox"/><a style="padding-left:5px;margin:5px;">Remember Me</a><br>
                    <a style="margin:5px;">Forget password?</a><br>
                    <button class="btn btn-primary" style="width:75px;margin:5px;">Log In</button><br>
                    <button class="btn btn-primary" style="width:75px;margin:5px;">Sign Up</button><br>
            </div>
            <div class="col-sm-6 text-left center-when-small" style="padding:15px 15px 15px 25px;line-height:1.8;z-index:2;">
                <a class="btn btn-third-party facebook-button" style="margin:5px;">
                    <span class="fa fa-facebook"></span>  Sign in with Facebook</a> <br>
                <a class="btn btn-third-party linkedin-button" style="margin:5px;">
                    <span class="fa fa-linkedin"></span>  Sign in with LinkedIn</a> <br>
                <a class="btn btn-third-party google-button" style="margin:5px;">
                    <span class="fa fa-google"></span>  Sign in with Google</a > <br>
            </div>
        </div>
    </div>
     <ul class="shapes-background">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div id="body" class="container-fluid text-center">
    <h2>HEADER NAME</h2>
    <div class="row">
        <sip-info-panel [panelName]="'FIRST PANEL'" [panelDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"
                        [imageUrl]="'http://placekitten.com/200/200'"></sip-info-panel>
        <sip-info-panel [panelName]="'SECOND PANEL'" [panelDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"
                        [imageUrl]="'http://placekitten.com/200/200'"></sip-info-panel>
        <sip-info-panel [panelName]="'THIRD PANEL'" [panelDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"
                        [imageUrl]="'http://placekitten.com/200/200'"></sip-info-panel>
    </div>
    <div class="row">
        <h2>HEADER NAME</h2>
        <div id="body-column" class="col-sm-8">
            <h1>BIG BOX</h1>
            <img class="img-responsive img-rounded center-block" src="http://placekitten.com/900/500" alt="BIG CAT"/>
            <p><strong>900x500 Rounded Centered</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="body-column" class="col-sm-4">
            <h1>SMALL BOX</h1>
            <p class="text-center text-info"> <strong>Info Text Centered</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <p class="text-left text-warning"> <strong>Warning Text Left-Aligned</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-right text-danger"><strong>Danger Text Right-Aligned</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, comcectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>
<sip-footer-bar [footerText]="'Spore 2016'" [imageUrl]="'http://placekitten.com/60/60'"></sip-footer-bar>
<!--<footer id="footer" class="container-fluid text-center">
    <p>Take me away:
        <a href="https://github.com/SwapnilShahGit/SIP" title="Git Link">Git</a> or
        <a href="https://sipteamtalk.slack.com" title="Slack Link">Slack</a>
        <img class="img-responsive img-rounded" src="http://placekitten.com/60/60" alt="TINY CAT" style="float: right;"/>
        <img class="img-responsive img-rounded" src="http://placekitten.com/60/60" alt="TINY CAT" style="float: left;"/>
    </p>
</footer>-->
</body>
</html>