<div class="login-section">
    <div class="input-panel">
        <div class="logo">
            Spore
        </div>
        <div class="username">

        </div>
        <div class="password">

        </div>
    </div>

    <ul class="shapes-background">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="info-section">
    Info Section
</div>