[access]
	inheritFrom = Cloud-Projects
[submit]
	action = fast forward only
	mergeContent = false
[access "refs/*"]
	owner = group user/Darren Hobin (dhobin)
	forgeAuthor = group user/Darren Hobin (dhobin)
	forgeCommitter = group user/Darren Hobin (dhobin)
	push = +force group user/Darren Hobin (dhobin)
	pushTag = group user/Darren Hobin (dhobin)
	label-Code-Review = -2..+2 group user/Adam Natale (anatale)
	label-Code-Review = -2..+2 group user/Darren Hobin (dhobin)
	submit = group user/Adam Natale (anatale)
	submit = group user/Darren Hobin (dhobin)
[plugin "its-jira"]
	enabled = false
[label "Verified"]
