[access]
	inheritFrom = Cloud-Projects
[submit]
	action = merge if necessary
	mergeContent = true
[access "refs/*"]
	owner = group user/Darren Hobin (dhobin)
	forgeAuthor = group user/Darren Hobin (dhobin)
	forgeCommitter = group user/Darren Hobin (dhobin)
	push = +force group user/Darren Hobin (dhobin)
	pushTag = +force group user/Darren Hobin (dhobin)
	label-Code-Review = -2..+2 group user/Adam Natale (anatale)
	label-Code-Review = -2..+2 group user/Darren Hobin (dhobin)
	submit = group user/Adam Natale (anatale)
	submit = group user/Darren Hobin (dhobin)
	submit = group user/Pranali Rathi (prathi)
	deleteOwnChanges = group user/Darren Hobin (dhobin)
[label "Verified"]
	function = MaxWithBlock
	defaultValue = 0
[access "refs/for/refs/*"]
	pushMerge = deny group Registered Users
[plugin "its-jira"]
	enabled = false
