#body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
  padding: 15px 100px 15px 100px;
}
#body-column {
  padding: 15px;
}
#footer {
  font: 400 15px Lato, sans-serif;
  line-height: 4;
  color: #818181;
  padding: 25px 100px 25px 100px;
}