<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class='table' *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products | productFilter:listFilter'>
                        <td>
                            <img *ngIf='showImage' [src]='product.imageUrl' [title]='product.productName | uppercase' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                        </td>
                        <td> <a [routerLink]="['/product', product.productId]">
                            {{product.productName}}
                            </a>
                        </td>
                        <td>{{ product.productCode | lowercase }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency:'USD':true:'1.2-2' }}</td>
                        <td>
                            <ai-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'>
                            </ai-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--have to make this local later...-->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<div>
    <nav class="navbar navbar-default temporaryShiftDown" style="height:75px;padding:5px 10px;">
        <div id="navbar" class="navbar-collapse collapse" style="margin:5px 10px;">
            <ul class="nav navbar-nav">
                <li>
                    <div class="dropdown" style="position:relative;">
                        <button class="btn btn-default dropdown-toggle sporeButtonStyle" type="button" id="dropdownSpore" data-toggle="dropdown">S P O R E <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownSpore">
                            <li><a>Action</a></li>
                            <li><a>Another action</a></li>
                            <li><a>Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a>Separated link</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-form">
                    <span class="fa fa-search search-box-icon-style"></span>
                    <input type="text" class="form-control search-box-style" placeholder="Search">
                </li>
                <li>
                    <a class="btn notification-button-style">
                        <i class="fa fa-bell-o fa-2x notification-icon-style" (click)="notifiedUser($event)">{{notificationCounter()}}</i>
                    </a>
                </li>
                <li>
                    <a class="btn profile-button-style">
                        <img class="profile-image-style" src="https://placekitten.com/45/45">
                        <span class="caret"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div id="mainBody" class="container-fluid">
            <div class="panel panel-default" style="background:lightsteelblue;">
                <div class="well-lg">
                    <h2 align="center">Calendar Section</h2>
                </div>
                <hr/>
                <hr/>
            </div>
        </div>
    </div>
</div>

<footer-bar></footer-bar>