#title{
    width: 100%;
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#newInputTask{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

#addBtn{
    height: 46px;
    font-weight: bold;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    overflow: visible;
    width: 120px;

    &:hover{
        cursor: pointer;
        background-color: #2bacd4;
        border-color: #46b8da;
    }

    &:disabled{
            background-color: #5bc0de;
            border-color: #46b8da;
            cursor: not-allowed;
    }
    
    
}

#newAdd{
     display: flex;
     margin-bottom: 20px;
}

ul{
     padding: 0;
    list-style: none;
}

label {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 100%;
    border: none;
    margin-left: 0px;
    margin-bottom: 0px;

   &.crossed {
        text-decoration: line-through; 
    }

    &:hover{
        cursor: pointer;
    }
}

#close {
    margin-top: 2px;
    float: right;
    color: #999;

    &:hover{
        cursor: pointer;
        color: black;
    }
}

#theList{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 6px;
    border-color: #d9534f;
    
    &.crossed{
        border-color: #5cb85c;
    }

    &:hover{
        cursor: pointer;
    }
}

#check{
    visibility: hidden;

    &.crossed{
        visibility: visible;
    }
}
