<div>
  <div class="container-fluid">
    <h1 id = "title" >Tasks List</h1>
    <div id="newAdd">
      <input class= "form-control" type="text" id="newInputTask" placeholder="New Task"  [(ngModel)]='newTask'(keyup.enter)="addTask()">
      <button class= "btn btn-lg btn-info" id="addBtn" (click)="addTask()" [disabled] = 'newTask == ""'><span id= "plus" class="fa fa-plus"></span> Add</button>
    </div>
    <div id ="tasklist">
      <ul class="list-group" dnd-sortable-container [sortableData] = "items" id ="list">
        <li id = "theList" *ngFor="let item of items; let i = index"  class="list-group-item" dnd-sortable [sortableIndex]="i" [class.crossed]="item.done" >
          <div class="view" (click)="clickTask(item, i)">
            <label (click)="clickTask(item, i)" [class.crossed]="item.done"><span [class.crossed]="item.done" id= "check" class="fa fa-check"></span>{{item.text}}<span id= "close" class="fa fa-times" (click)="removeTask(i)"></span></label>
            <label id ="Timestamp" (click)="clickTask(item, i)">{{item.date}}</label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
