#newInputTask{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

#addBtn{
    height: 46px;
    font-weight: bold;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: visible;
}

#plus{
    margin: 5px;
    float: left;
    margin-left: 0px;
}

#newAdd{
     display: flex;
}

ul{
     padding: 0;
    list-style: none;
}

label {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 100%;
    border: 1px solid;
    border-color: #ccc;
    margin: 10px;
    margin-left: 0px;
}

#close {
    float: right;
    color: #999;
}

#close:hover{
     cursor: pointer;
     color: black;
}

#list li.done label{
    
}