.search-box-style {
  border-radius: 50px;
  text-indent: 20px;
  background: #D3D3D3;
  border: 1px solid #aaa;
}
.search-box-icon-style {
  left: 25px;
  top: 10px;
  position: absolute;
  color: #FCFCFC;
}
