// @import '../../../assets/styles/spore-colors';

.search-box-style {
  border-radius: 50px;
  text-indent: 20px;
  background: white;
  border: 1px solid #aaa;
}
// .search-box-icon-style {
//   left: 25px;
//   top: 10px;
//   position: absolute;
//   color: $color-spore-grey;
// }
