<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Spore</title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <link rel="icon" type="image/x-icon" href="assets/sporeicon.ico">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/font-awesome-4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="assets/spore-styles.css">
  <link rel="stylesheet" type="text/css" href="assets/primeng.min.css">
  <link rel="stylesheet" type="text/css" href="assets/theme.css">
  <link rel="stylesheet" type="text/css" href="assets/primeui-ng-all.css">
  <link rel="stylesheet" type="text/css" href="assets/fullcalendar.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>

  <app></app>
  <div class="loading">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw loading-icon"></i>
    <span class="sr-only">Loading...</span>
  </div>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
