// $color-spore-orange: #f89722;
// $color-spore-yellow: #fdc943;

$color-spore-orange: #f86222;
$color-spore-yellow: #f89822;

$color-spore-green: #7bc78f;
$color-spore-light-blue: #42a8de;
$color-spore-navy-blue: #2c5268;
$color-spore-grey: #4c4c4d;
