	<static-nav> </static-nav>
	<div class="row">
  <div class="column">
    <div class="slideout left-slide">
      <form>
        <textarea class="form-control">Hello World</textarea>
        Some text after text area
      </form>
    </div>
  </div>

	<div class="col-md-8">
	<div id="mainBody" class="container-fluid">
		<div class="panel panel-default" style="background:lightsteelblue;">
			<div class="well-lg">
				<h2 align="center">Calendar Section</h2>
        <br>
        <a class="navbar-brand" (click)="navigateToLoginPage()" style="cursor: pointer">Take me to login page</a>
        <br>
			</div>
			<hr/>
        <!--calendar goes here-->
			<hr/>
		</div>
	</div>
	</div>

	<div class="column">
    <div class="slideout right-slide">
      <form>
        <textarea class="form-control" draggable="false">Hello World</textarea>
        <img src="https://placekitten.com/200/200">
      </form>
    </div>
  </div>
</div>

<footer-bar [footerText]="'© 2016 Spore. All Rights Reserved. | Terms of Use | Privacy | Security Policy |'"></footer-bar>
