<div style="position: relative; min-height: 100%">
  <static-nav></static-nav>
  <div class="sidenav" #sidenav [ngStyle]="{'width': slideOutWidth, 'height': bodyHeight}">
    <a style="padding: 4px 10px 0px 10px;">
      <search-bar (_output)="updateSearch($event)"></search-bar>
    </a>
    <br> <span class="sidenav-header">Tools</span>
    <hr class="sidenav-hr">
    <a class="sidenav-item" [class.selected]="this.currentTab === 'CalendarTab'" (click)="switchTabs('CalendarTab')"><span class="fa fa-calendar-o sidenav-icon"></span>Calendar</a>
    <a class="sidenav-item" [class.selected]="this.currentTab === 'CalculatorTab'" (click)="switchTabs('CalculatorTab')"><span class="fa fa-calculator sidenav-icon"></span>GPA Calculator</a>
    <a class="sidenav-item" [class.selected]="this.currentTab === 'CoursesTab'" (click)="switchTabs('CoursesTab')"><span class="fa fa-pencil-square-o sidenav-icon"></span>Courses</a>
    <a class="sidenav-item" [class.selected]="this.currentTab === 'TasksTab'" (click)="switchTabs('TasksTab')"><span class="fa fa-list sidenav-icon"></span>Tasks</a>
    <a class="sidenav-item" [class.selected]="this.currentTab === 'FilesTab'" (click)="switchTabs('FilesTab')"><span class="fa fa-files-o sidenav-icon"></span>Files</a>
    <a class="sidenav-item" [class.selected]="this.currentTab === 'FriendsTab'" (click)="switchTabs('FriendsTab')"><span class="fa fa-heart sidenav-icon"></span>Friends</a>
    <br> <span class="sidenav-header">More</span>
    <hr class="sidenav-hr">
    <a class="sidenav-item" [class.selected]="this.currentTab === 'HelpTab'" (click)="switchTabs('HelpTab')"><span class="fa fa-lg fa-question-circle sidenav-icon"></span>Help</a>
    <a class="sidenav-item" [class.selected]="this.currentTab === 'MapTab'" (click)="switchTabs('MapTab')"><span class="fa fa-lg fa-globe sidenav-icon"></span>Map</a>
    <a class="sidenav-item" [class.selected]="this.currentTab === 'SettingsTab'" (click)="switchTabs('SettingsTab')"><span class="fa fa-cogs sidenav-icon"></span>Settings</a>
    <a class="sidenav-item" [class.selected]="this.currentTab === 'AppStoreTab'" (click)="switchTabs('AppStoreTab')"><span class="fa fa-shopping-basket sidenav-icon"></span>App Store</a>
  </div>

  <div *ngIf="bodyWidth == 'auto'" id="main" class="container-fluid" [ngStyle]="{'margin-left': bodyLeftMargin, 'width': bodyWidth, 'padding-left': '20px', 'padding-top': '75px', 'padding-bottom': '75px'}">

    <div *ngIf="(tabService.tabSelectedSource | async) == this.tabService.calculatorTab" style="padding-bottom:50px">
      <calculator-page></calculator-page>
    </div>

  <div *ngIf="(tabService.tabSelectedSource | async) == this.tabService.calendarTab">
    <calendar *ngIf="(user | async).userID" [userId]="(user | async).userID"></calendar>
  </div>

    <div *ngIf="(tabService.tabSelectedSource | async) == this.tabService.coursesTab">
      <courses-page></courses-page>
    </div>

    <div *ngIf="(tabService.tabSelectedSource | async) == this.tabService.tasksTab">
      <tasks [user]="(user | async)"></tasks>
    </div>

    <div *ngIf="(tabService.tabSelectedSource | async) == this.tabService.filesTab">
      <upload-factory></upload-factory>
    </div>

    <div *ngIf="(tabService.tabSelectedSource | async) == this.tabService.helpTab" style="padding-bottom:50px">
      <div style="text-align: center">
        <span style="margin: auto; font-size: 40px" class="fa fa-clock-o"></span><br>
        Coming Soon!
      </div>
    </div>

    <div *ngIf="(tabService.tabSelectedSource | async) == this.tabService.settingsTab">
      <settings *ngIf="user | async" [user]="user | async"></settings>
    </div>

    <div *ngIf="(tabService.tabSelectedSource | async) == this.tabService.mapTab">
      <map-page></map-page>
    </div>

    <div *ngIf="(tabService.tabSelectedSource | async) == this.tabService.friendsTab">
      <div style="text-align: center">
        <span style="margin: auto; font-size: 40px" class="fa fa-clock-o"></span><br>
        Coming Soon!
      </div>
    </div>

    <div *ngIf="(tabService.tabSelectedSource | async) == this.tabService.appStoreTab">
      <div style="text-align: center">
        <span style="margin: auto; font-size: 40px" class="fa fa-clock-o"></span><br>
        Coming Soon!
      </div>
    </div>

  </div>
  <div style="padding-top: 20px;">
    <footer-bar [footerColour]="(user | async)?.theme.secondaryColour"></footer-bar>
  </div>
</div>
