<p-schedule [events]="events" [editable]="true" [header]="header" [eventRender]="eventRender" (onDayClick)="handleDayClick($event)"
  [timezone]="'local'" (onEventClick)="handleEventClick($event)" (onEventDrop)="handleEventDrop($event)" (onViewRender)="renderColours()"></p-schedule>
<br>

<button id="hiddenModalOpener" data-toggle="modal" data-target=".eventModal"></button>

<div class="modal fade eventModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div *ngIf="event" class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="!event.id">Create Event</span>
            <span *ngIf="event.id">Update Event</span>
            <button type="button" class="close" data-dismiss="modal">
              <span class="fa fa-close"></span>
            </button>
          </h4>
      </div>
      <div *ngIf="event" class="modal-body">
        <form>
          <div class="container-fluid form-group row">
            <label class="col-sm-2 col-form-label">
              <i *ngIf="invalid && invalid.title" class="invalidColour">* Title:</i>
              <span *ngIf="!invalid || (invalid && !invalid.title)">Title:</span>
            </label>
            <div class="col-sm-10">
              <input id="titleInput" class="form-control" [(ngModel)]="event.title" type="text" placeholder="Name for your event" name="title">
            </div>
          </div>
          <div class="container-fluid form-group row">
            <label class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" [(ngModel)]="event.description" type="text" name="description"></textarea>
            </div>
          </div>
          <div class="container-fluid form-group row">
            <label class="col-sm-2 col-form-label">Colour:</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-btn">
                  <custom-colour-picker class="inputSideButton" [(colour)]="event.colour"
                    [buttonClass]="'btn btn-info'" name="colour"></custom-colour-picker>
                </span>
                <input class="form-control colourPickerResult" [style.background-color]="event.colour" disabled
                  style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;">
              </div>
            </div>
          </div>
          <div class="container-fluid form-group row">
            <label class="col-sm-2 col-form-label">
              <i *ngIf="invalid && invalid.startDate" class="invalidColour">* Start:</i>
              <span *ngIf="!invalid || (invalid && !invalid.startDate)">Start:</span>
            </label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-btn">
                  <div class="inputSideButton">
                    <button class="btn btn-warning" (click)="event.startDate=null">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </span>
                <p-calendar [(ngModel)]="event.startDate" [monthNavigator]="true" [yearNavigator]="true"
                  [maxDate]="event.endDate" yearRange="1900:2100" placeholder="(day) month date, year"
                  dateFormat="(DD) MM d, yy" [showTime]="true" hourFormat="12"
                  inputStyleClass="form-control startTimeInner" styleClass="form-control startTimeOuter"
                  name="startDate"></p-calendar>
              </div>
            </div>
          </div>
          <div class="container-fluid form-group row">
            <label class="col-sm-2 col-form-label">End:</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-btn">
                  <div class="inputSideButton">
                    <button class="btn btn-warning" (click)="event.endDate=null">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </span>
                <p-calendar [(ngModel)]="event.endDate" [monthNavigator]="true" [yearNavigator]="true" [minDate]="event.startDate"
                  yearRange="1900:2100" placeholder="(day) month date, year" dateFormat="(DD) MM d, yy"
                  [showTime]="true" hourFormat="12" inputStyleClass="form-control endTimeInner"
                  styleClass="form-control endTimeOuter" name="endDate"></p-calendar>
              </div>
            </div>
          </div>

          <div class="container-fluid form-group row">
            <label class="col-sm-2 col-form-label">Start Range:</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-btn">
                  <div class="inputSideButton">
                    <button class="btn btn-warning" (click)="event.endDate=null">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </span>
                <p-calendar [(ngModel)]="event.ranges[0].start" [monthNavigator]="true" [yearNavigator]="true" [minDate]="event.startDate"
                            yearRange="1900:2100" placeholder="(day) month date, year" dateFormat="(DD) MM d, yy"
                            [showTime]="true" hourFormat="12" inputStyleClass="form-control startRangeTimeInner"
                            styleClass="form-control startRangeTimeOuter" name="endDate"></p-calendar>
              </div>
            </div>
          </div>

          <div class="container-fluid form-group row">
            <label class="col-sm-2 col-form-label">End Range:</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-btn">
                  <div class="inputSideButton">
                    <button class="btn btn-warning" (click)="event.endDate=null">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </span>
                <p-calendar [(ngModel)]="event.ranges[0].end" [monthNavigator]="true" [yearNavigator]="true" [minDate]="event.startDate"
                            yearRange="1900:2100" placeholder="(day) month date, year" dateFormat="(DD) MM d, yy"
                            [showTime]="true" hourFormat="12" inputStyleClass="form-control endRangeTimeInner"
                            styleClass="form-control endRangeTimeOuter" name="endDate"></p-calendar>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div *ngIf="!event" class="modal-body">
        <i>Oops,</i> something went wrong!
      </div>
      <div *ngIf="event" class="modal-footer">
        <i *ngIf="invalid" id="invalidLegend" class="invalidColour">
          * Required fields
        </i>
        <button *ngIf="!event.id" type="button" class="btn btn-success" (click)="saveEvent()">
          <span class="fa fa-floppy-o"></span> Save
        </button>
        <button *ngIf="!event.id" type="button" class="btn btn-danger" (click)="closeEvent()">
          <span class="fa fa-close"></span> Cancel
        </button>
        <button *ngIf="event.id" type="button" class="btn btn-info" (click)="updateEvent()">
          <span class="fa fa-pencil"></span> Update
        </button>
        <button *ngIf="event.id" type="button" class="btn btn-danger" (click)="deleteEvent()">
          <span class="fa fa-close"></span> Delete
        </button>
      </div>
      <div *ngIf="!event" class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="closeEvent()">Ok</button>
      </div>
    </div>
  </div>
</div>
