textarea {
  resize: vertical;
  max-height: 160px;
}

#hiddenModalOpener {
  visibility: hidden;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  border: none;
}

.btn {
  font-weight: bold;
}

.inputSideButton {
  padding-right: 5px;
}

.colourPickerResult {
  cursor: default;
}

