@import '../../../assets/styles/spore-colors';

.date-input-style {
  margin: 3px 0px;
}

.text-box-style {
  padding: 4px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
