@import '../../../assets/styles/spore-colors';

#login-body {
  line-height: 1.8;
  padding: 15px 0;
  background: $color-spore-orange; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $color-spore-orange, $color-spore-yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $color-spore-orange, $color-spore-yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $color-spore-orange, $color-spore-yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $color-spore-orange, $color-spore-yellow); /* Standard syntax (must be last) */
}
#logo {
  text-align: center;
  position: center;
  width: 275px;
  height: 275px;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user: none;
}
#sign-in {
  padding: 25px;
  text-align: right;
}
#email {
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  width: 225px;
}
#password {
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  width: 225px;
}
#checkbox {
  transform: scale(1.5);
}
#remember-me {
  padding-right: 8px;
  margin: 5px;
}
#forgot-password {
  margin: 5px;
  font-size: x-small;
}
#log-in {
  width: 110px;
  margin: 5px 5px 5px 5px;
}
#sign-up {
  width: 110px;
  margin: 5px 0px 5px 0px;
}
#sign-in-buttons {
  padding: 25px;
  line-height: 1.8;
}
.g-ico-margin, .in-ico-margin {
  margin-right: 10px;
}
.f-ico-margin {
  margin-right: 12px;
}
#facebook-button {
  margin: 5px;
  width: 200px;
  text-align: left;
  padding-left: 15px;
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}
#linkedin-button {
  margin: 5px;
  width: 200px;
  padding-left: 15px;
  text-align: left;
  color: #fff;
  background-color: #005983;
  border-color: rgba(0,0,0,0.2);
}
#google-button {
  margin: 5px;
  width: 200px;
  padding-left: 15px;
  text-align: left;
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  #sign-in, #sign-in-buttons {
    text-align: center;
  }
}
