<div style="position: relative; min-height: 100%">
  <div id="login-body" class="text-center" [style.background]="gradient">
    <div id="backBubbles"></div>
    <div id="frontBubbles"></div>
    <div class="login-wrapper">
      <img id="logo" src="/assets/soti-spore-logo-login-2.png" draggable="false" /><br>
      <third-party-button [buttonText]="'Sign in with Facebook'" [buttonIcon]="'fa-facebook'" [buttonColor]="'#3b5998'" (click)="facebookLogin()"></third-party-button><br>
      <div class="or-wrapper">
        <hr class="or-line">
        <span>or</span>
        <hr class="or-line">
      </div>
      <text-box [placeholderText]="'Email'" [fontColor]="'#4c4c4d'" [textboxColor]="'white'" [boxWidth]="'225px'" [(ngModel)]="email" ngDefaultControl></text-box><br>
      <text-box [placeholderText]="'Password'" [fontColor]="'#4c4c4d'" [textboxColor]="'white'" [boxWidth]="'225px'" [textboxType]="'password'" [(ngModel)]="password" ngDefaultControl></text-box><br>
      <check-box [checkboxText]="'Remember Me'" [fontWeight]="'500'" [fontColor]="'white'" style="padding-right: 8px"></check-box>
      <a id="forgot-password" [style.color]="fontColour">Forgot password?</a><br>
      <button id="log-in" class="btn btn-primary" (click)="sporeLogin()">Log In</button>
      <button id="sign-up" class="btn btn-primary" (click)="sporeSignUp()">Sign Up</button> <br>
    </div>
  </div>
  <div>
    <footer-bar></footer-bar>
  </div>
</div>
