@import '../../assets/styles/spore-colors';

#login-body {
  line-height: 1.8;
  padding: 15px 0px 15px 0px;
  background: $color-spore-orange; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $color-spore-orange, $color-spore-yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $color-spore-orange, $color-spore-yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $color-spore-orange, $color-spore-yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $color-spore-orange, $color-spore-yellow); /* Standard syntax (must be last) */
  position: relative;
}
#logo {
  text-align: center;
  position: center;
  z-index: 1;
  width: 275px;
  height: 275px;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user: none;
}
#sign-in{
  padding: 25px;
  text-align: right;
  z-index: 1;
}
#email{
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  width: 225px;
  z-index: 1;
}
#password{
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  width: 225px;
  z-index: 1;
}
#checkbox{
  transform: scale(1.5);
  z-index: 1;
}
#remember-me{
  padding-right: 8px;
  margin: 5px;
  z-index: 1;
}
#forgot-password{
  margin: 5px;
  font-size: x-small;
  z-index: 1;
}
#log-in{
  width: 110px;
  margin: 5px 5px 5px 5px;
  z-index: 1;
}
#sign-up{
  width: 110px;
  margin: 5px 0px 5px 0px;
  z-index: 1;
}
#sign-in-buttons{
  padding: 25px;
  line-height: 1.8;
  z-index: 1;
}
#facebook-button{
  margin: 5px;
  width: 200px;
  text-align: left;
  padding-left: 15px;
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
  z-index: 1;
}
#linkedin-button{
  margin: 5px;
  width: 200px;
  padding-left: 15px;
  text-align: left;
  color: #fff;
  background-color: #005983;
  border-color: rgba(0,0,0,0.2);
  z-index: 1;
}
#google-button{
  margin: 5px;
  width: 200px;
  padding-left: 15px;
  text-align: left;
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
  z-index: 1;
}
#components{
  padding-right: 100px;
  padding-left: 100px;
  background-color: rgba(0,0,0,.03);
  z-index: 1;
  text-align:center;
}
#divider-custom {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  z-index: 1;
}
#bottom-pic{
  text-align: center;
  position: center;
  width: 100px;
  height: 100px;
}
footer {
  font: 700 15px Lato, sans-serif;
  line-height: 4;
  background-color: $color-spore-navy-blue;
  color: #FFFFFF;
  padding: 0px 100px 0px 100px;
}
/*media query*/
@media screen and (max-width: 768px) {
  #sign-in, #sign-in-buttons {
    text-align: center;
    z-index: 1;
  }
  #components {
    padding-right: 0px;
    padding-left: 0px;
    z-index: 1;
  }
  footer{
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
}
