.slideout {
  background:#cccccc;
  box-shadow:0 0 5px rgba(0,0,0,.3);
  color:#333;
  position:fixed;
  top:75px; /* height of header */
  width:16.5%; /* 2-12th of the screen */
  min-height:1025px;
}
.left-slide {
  left:0;
}
