<nav id="nav-style" class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" data-toggle="collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <div class="btn sporeButtonStyle">spore <span class="fa fa-angle-down"></span></div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-form">
        <search-bar></search-bar>
      </li>
      <li>
        <a class="btn notification-button-style">
          <i class="fa fa-bell fa-2x notification-icon-style" (click)="notifiedUser($event)">
            <span *ngIf="_notificationCount > 0" class="notification-number-style">{{numNotifications()}}</span>
          </i>
        </a>
      </li>
      <li>
        <a class="btn profile-button-style dropdown-toggle" data-toggle="dropdown">
          <img class="profile-image-style" src="{{profileImageLocation}}">
          <span class="fa fa-lg fa-angle-down caret-style"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a>Something here</a></li>
          <li><a>Maybe over here</a></li>
          <li class="divider"></li>
          <li><a (click)='facebookLogout()'>Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>