@import '../../../assets/styles/spore-colors';

#nav-style {
  height: 65px;
  padding: 5px 25px;
  background: darken($color-spore-yellow, 15%);
  color: #ffffff;
}
.sporeButtonStyle {
  font-size: 26px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background: darken($color-spore-yellow, 15%);
}
.profile-button-style {
  background: darken($color-spore-yellow, 15%);
  top: -2px;
  height: 50px;
  width: 80px;
}
.profile-image-style {
  position: absolute;
  top: 7px;
  right: 26px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: 3px solid #ffffff;
}
.caret-style {
  color: #ffffff;
  position: absolute;
  top: 23px;
  right: 10px;
}
@media (max-height: 979px) {
  .navbar-fixed-top { position: fixed; }
}
.navbar-left {
  float: left;
  border-radius: 0;
}
.navbar-right {
  float: right;
  border-radius: 0;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.navbar-fixed-top {
  margin-left: 0;
  margin-right: 0;
}
.dropdown-menu {
  top: 57px;
}