<nav id="nav-style" class="navbar navbar-default navbar-fixed-top">
	<ul class="nav navbar-nav">
		<li>
			<div class="btn sporeButtonStyle">spore <span class="fa fa-caret-down"></span></div>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="navbar-form">
			<span class="fa fa-lg fa-search search-box-icon-style"></span>
			<input type="text" class="form-control search-box-style">
		</li>
		<li>
			<a class="btn notification-button-style">
				<i class="fa fa-bell fa-2x notification-icon-style" (click)="notifiedUser($event)">
				<span *ngIf="_notificationCount > 0" class="notification-number-style">{{numNotifications()}}</span>
				</i>
			</a>
		</li>
		<li>
			<button class="btn profile-button-style">
				<img class="profile-image-style" src="https://placekitten.com/45/45">
				<span class="fa fa-lg fa-caret-down caret-colour"></span>
			</button>
		</li>
	</ul>
</nav>