#nav-style {
  height: 65px;
  padding: 5px 75px;
  background: #C4C4C4;
  color: #ffffff;
}
.sporeButtonStyle {
  font-size: 26px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background: #C4C4C4; 
}
.search-box-style {
  border-radius: 50px;
  text-indent: 20px;
  background:#D3D3D3;
  border: 1px solid #aaa;
}
.search-box-icon-style {
  left:25px;
  top:10px;
  position:absolute;
  color: #FCFCFC;
}
.notification-button-style {
  margin: 10px;
  padding: 2px;
}
.notification-icon-style {
  position: relative;
  color: #ffffff;
}
.notification-number-style {
  position: absolute;
  background: #ffffff;
  color: #F9B149;
  width: 20px;
  height: 20px;
  text-align: center;
  left: 16px;
  top: 2px;
  line-height: 18px;
  border-radius: 50%;
  border: 2px solid #F9B149;
  font-size: 12px;
}
.profile-button-style {  
  background: #C4C4C4;
}
.profile-image-style {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: 3px solid #ffffff;
}
.caret-colour {
  color: #ffffff;
}