#body-column {
  padding: 15px;
}
#panel-name {
  text-align: center;
}
.info-panel-icon {
  background-color: transparent;
  max-width: 175px;
  max-height: 175px;
  border-radius: 25%;
  padding: 15px;
}
#panel-description {
  padding: 0 30px;
  font-size: 18px;
}
