<html>
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="spore-login-page.component.css"/>
  <title>Spore</title>
</head>
<body>
<div id="login-body">
  <div class="jumbotron-large text-center container-fluid">
    <img id="logo" src="\app\resources\icons\logos\spore-logo-login.png" draggable="false"/>
    <div id="blah" class="row">
      <div id="sign-in" class="col-sm-6">
        <input id="email" type="email" name="email" placeholder="EMAIL"><br>
        <input id="password" type="password" placeholder="PASSWORD" /><br>
        <input id="checkbox" type="checkbox"/>
        <element id="remember-me">Remember Me</element>
        <a id="forgot-password" target="_blank" href="https://johnsmith:smith123@www.example.com">Forgot password?</a><br>
        <button id="log-in" class="btn-primary">Log In</button>
        <button id="sign-up" class="btn-primary">Sign Up</button> <br>
      </div>
      <div id="sign-in-buttons" class="col-sm-6 text-left">
        <a id="facebook-button" class="btn facebook-button">Sign in with Facebook</a> <br>
        <a id="linkedin-button" src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" class="btn linkedin-button">Sign in with LinkedIn </a>
        <br>
        <a id="google-button" class="btn google-button">Sign in with Google</a> <br>
      </div>
    </div>
  </div>
  <div id="bubbles">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
        <div class="bubble x11"></div>
        <div class="bubble x12"></div>
        <div class="bubble x13"></div>
        <div class="bubble x14"></div>
        <div class="bubble x15"></div>
        <div class="bubble x16"></div>
        <div class="bubble x17"></div>
        <div class="bubble x18"></div>
  </div>
</div>

  <div id="components" class="row" style="margin: 0">
    <app-spore-info-card [panelName]="'PARSER'" [panelDescription]="'Spore comes equipped with a parser, which is able to automatically convert the important information such as lecture times, due dates, etc. and place them in your calendar. We are currently supporting Univeristy of Toronto with functionality for other universities coming very soon!'"
                    [imageUrl]="'app/resources/icons/icons/login-page/blue-background/icons2-01.jpg'"></app-spore-info-card>
    <app-spore-info-card [panelName]="'CALENDAR'" [panelDescription]="'Spore calendar is one of few which grants students the privilege of being able to manage their time, become more organized and socialize in a productive manner without any distractions. Including many modern qualities, Spore allows students to personalize their page with school colours, logos, or however they please.'"

                    [imageUrl]="'app/resources/icons/icons/login-page/blue-background/icons2-02.jpg'"></app-spore-info-card>
    <app-spore-info-card [panelName]="'SOCIAL'" [panelDescription]="'Spore social contains multiple great features that provide particular support to students who are intereseted in using the calendar in a social and school mode. Students can plan events, study sessions, share their calendar, chat and much more while remaining organized.'"
                    [imageUrl]="'app/resources/icons/icons/login-page/blue-background/icons2-03.jpg'"></app-spore-info-card>
  </div>
  </body>
  <footer>
    <img id="bottom-pic" class="img-circle" src="\app\resources\icons\logos\spore-logo-login.png" />
    <element>Spore 2016</element>
  </footer>
</html>
