<div>
  <div class="container-fluid">

    <div class="col-sm-4">

      <h2>User Details:</h2>
      <div class="or-line"></div>

      <label>First Name</label><br>
      <text-box [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxBorder]="'none'"
        [(ngModel)]="user.firstName" [textValue]="user.firstName" ngDefaultControl></text-box><br><br>

      <label>Last Name</label><br>
      <text-box [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxBorder]="'none'"
        [(ngModel)]="user.lastName" [textValue]="user.lastName" ngDefaultControl></text-box><br><br>

      <label>School</label><br>
      <select *ngIf="user.userID != ''" [(ngModel)]="user.school" ngDefaultControl>
        <option *ngFor="let school of supportedSchools" [selected]="school === user.school">{{school}}</option>
      </select><br><br>

      <label>Gender</label><br>
      <div *ngIf="user.userID != ''" class="gender-container">
        <input type="radio" name="gender" value="male" checked="{{checkedGender.male}}" [(ngModel)]="user.gender"
          ngDefaultControl><span class="check-box">Male</span>
        <input type="radio" name="gender" value="female" checked="{{checkedGender.female}}" [(ngModel)]="user.gender"
          ngDefaultControl><span class="check-box">Female</span><br>
      </div>

    </div>

    <div class="col-sm-4">

      <h2>Profile Picture:</h2>
      <div class="or-line"></div>

      <img *ngIf="user.pictureURL != user.facebookDefaultPicture" class="profile-picture" src="{{temporaryProfilePicture != '' ? temporaryProfilePicture : user.pictureURL}}" alt="Profile Picture"><br><br>

      <button class="btn-primary button lg" (click)="setFacebookPicture()">Facebook Picture</button>
      <button class="btn-primary button lg" (click)="randomizePicture()">Randomize Picture</button><br>

      <h4>Custom:</h4>

      <div style="display: inline-block;">
        <button class="btn-primary button sm" (click)="customPicture('eyes')">Eyes</button>
        <button class="btn-primary button sm" (click)="customPicture('nose')">Nose</button>
        <button class="btn-primary button sm" (click)="customPicture('mouth')">Mouth</button>
      </div><br>

      <button class="button lg" [(colorPicker)]="avatarColour" [style.background]="avatarColour" [cpPresetColors]="basicColours"
        [cpOutputFormat]="'hex'" [cpPositionRelativeToArrow]="true" [cpAlphaChannel]="'disabled'">.</button>
      <button class="btn-primary button sm" (click)="customPicture()">Try it!</button>


    </div>

    <div class="col-sm-4">

      <h2>Theme:</h2>
      <div class="or-line"></div>

      <label>Primary</label><br>
      <button *ngIf="user.userID != ''" class="button lg high" [(colorPicker)]="user.theme.primaryColour"  [cpAlphaChannel]="'disabled'" [style.background]="user.theme.primaryColour"
        [cpPresetColors]="basicColours" [cpOutputFormat]="'hex'" [cpPositionRelativeToArrow]="true"></button><br><br>

      <label>Secondary</label><br>
      <button *ngIf="user.userID != ''" class="button lg high" [(colorPicker)]="user.theme.secondaryColour" [cpAlphaChannel]="'disabled'" [style.background]="user.theme.secondaryColour"
        [cpPresetColors]="basicColours" [cpOutputFormat]="'hex'" [cpPositionRelativeToArrow]="true"></button><br><br>

      <label>Tertiary</label><br>
      <button *ngIf="user.userID != ''" class="button lg high" [(colorPicker)]="user.theme.tertiaryColour" [cpAlphaChannel]="'disabled'" [style.background]="user.theme.tertiaryColour"
        [cpPresetColors]="basicColours" [cpOutputFormat]="'hex'" [cpPositionRelativeToArrow]="true"></button><br><br>

    </div>

  </div>

  <div class="or-line"></div>
  <div class="inline">
    <button class="btn-warning btn-lg lg" (click)="primaryColourToggle=false;secondaryColourToggle=false;tertiaryColourToggle=false;
      avatarColourToggle=false;updateUser();">Update</button>
  </div>
  <div class="inline alert" [ngStyle]="{'opacity': successOpacity, 'display': successDisplay}">
    Success!<span class="closebtn" (click)="closeAlert(false)">&times;</span>
  </div>

</div>
