<div>

  <h2>User Details:</h2>

  <div class="or-line">
  </div>

  <label>First Name</label><br>
  <text-box [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxBorder]="'none'" [(ngModel)]="user.FirstName" [textValue]="user.FirstName" ngDefaultControl></text-box><br>

  <label>Last Name</label><br>
  <text-box [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxBorder]="'none'" [(ngModel)]="user.LastName" [textValue]="user.LastName" ngDefaultControl></text-box><br>

  <label>Email</label><br>
  <text-box [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxBorder]="'none'" [(ngModel)]="user.Email" [textValue]="user.Email" ngDefaultControl></text-box><br>

  <br><label>Gender</label><br>
  <div class="gender-container">
    <input type="radio" name="gender" value="male" checked="{{checkedGender.male}}" [(ngModel)]="user.Gender" ngDefaultControl><span class="check-box">Male</span>
    <input type="radio" name="gender" value="female" checked="{{checkedGender.female}}" [(ngModel)]="user.Gender" ngDefaultControl><span class="check-box">Female</span><br>
  </div>

  <br><label>School</label><br>
  <select [(ngModel)]="user.School" ngDefaultControl>
    <option *ngFor="let school of supportedSchools" [selected]="school === user.School">{{school}}</option>
  </select>

  <h2>Theme:</h2>

  <div class="or-line">
  </div>

  <label>Primary Colour</label><br>
  <i>Coming soon.</i><br><br>

  <label>Secondary Colour</label><br>
  <i>Coming soon.</i><br><br>

  <label>Tertiary Colour</label><br>
  <i>Coming soon.</i><br><br>

  <div class="or-line">
  </div>

  <div class="inline">
    <button class="btn-warning btn-lg" (click)="updateUser()">Update</button>
  </div>
  <div class="inline alert" [ngStyle]="{'opacity': successOpacity, 'display': successDisplay}">
    Success!<span class="closebtn" (click)="closeAlert(false)">&times;</span>
  </div>


</div>
