<div class="body">
    <div class="ul">
        <div class="li">
            <div class="dropdown">
                <a href="#home">Home</a>
                <div class="dropdown-content">
                    <a href="#temp">Temp</a>
                </div>
            </div>
        </div>
        <div class="li">
            <a href="#news">News</a>
        </div>
        <div class="li">
            <a href="#contact">Contact</a>
        </div>
        <div class="li" style="float: right">
            <a href="#about">About</a>
        </div>
    </div>
</div>