#footer {
  font: 400 15px Lato, sans-serif;
  line-height: 2;
  background: -webkit-linear-gradient(top, #2c5268 70%, #182c38 100%);
  color: #FFFFFF;
  padding: 5px 100px 5px 100px;
}

.footer-text {
  float: left;
  padding-left: 12px;
}
