@import '../../../assets/styles/spore-colors';

#footer {
  font: 400 12px Lato, sans-serif;
  line-height: 2;
  background: $color-spore-navy-blue;
  color: #FFFFFF;
  padding: 5px 100px 5px 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-text {
  float: left;
}
