<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
<div class="container-fluid">
	<h2>Dynamic Tabs</h2>
	<ul class="nav nav-tabs">
		<li class="brand active"><a>I'm looking for:</a></li>
		<li ><a data-toggle="tab" href="#Food">Food</a></li>
		<li><a data-toggle="tab" href="#Library">Library</a></li>
		<li><a data-toggle="tab" href="#Mall">Mall</a></li>
	</ul>

	<div class="tab-content">
		<div id="Food" class="tab-pane fade">
			<h3>Food</h3>
			<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
		<div id="Library" class="tab-pane fade">
			<h3>Library</h3>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
		</div>
		<div id="Mall" class="tab-pane fade">
			<h3>Mall</h3>
			<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="col-md-7">
		<div id="map-section" style="position:relative;">
			<div id="map" style="position:absolute;top:0;right:0;bottom:0;left:0;"></div>
		</div>
	</div>
	<div class="col-md-5">
		<div id="result-section" class="list-group">
			<a class="list-group-item list-group-item-action active">
				<h5 class="list-group-item-heading">List group item heading</h5>
				<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			</a>
			<a class="list-group-item list-group-item-action">
				<h5 class="list-group-item-heading">List group item heading</h5>
				<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			</a>
			<a class="list-group-item list-group-item-action">
				<h5 class="list-group-item-heading">List group item heading</h5>
				<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			</a>
		</div>
	</div>
</div>

<div class="container-fluid">
	<p><button (click)="geoFindMe()">Please locate me...</button></p>
	<div>
		<p>Dont worry... I got this bro:
			<input #userInput id="autocomplete" placeholder="Enter your address" (click)="setUpAutoFill()" type="text" (keyup.enter)="inputLocation=userInput.value; geoFindMeCustom();">
			<button (click)="inputLocation=userInput.value; geoFindMeCustom();">Enter</button>
		</p>
		<!--<p>Current stored value: {{inputLocation}}</p>-->
	</div>
	<p id="location"></p>
	<!--<div id="map" style="width:900px;height:600px;"></div>-->
	<div id="options"></div>
</div>