/*#map-section {
    margin: 10px;
    height: 500px;
}*/
/*#result-section {
    margin: 10px;
}
#map {
    
}
.pointOfInterestInput {
    width: 150px;
}
.autocomplete {
    width: 200px;
}
.radiusInput {
    width: 50px;
}*/

#map-section {
    margin: 10px;
    height: 500px;
}
#map {
  
}
