<div class="container-fluid sign-up-container">
  <div>
    <i class="fa fa-close close-button" (click)="sporeLogin()"></i>
    <div class="header-text">Join Spore Today</div>
    <div class="container-fluid third-party-buttons-container">
      <div id="google-sign-up" class="col-sm-12">
        <third-party-button [buttonText]="'Sign up with Facebook'" [buttonIcon]="'fa-facebook'" [buttonColor]="'#3b5998'" [buttonBorder]="'none'" (click)="facebookLogin()"></third-party-button>
        <third-party-button [buttonText]="'Sign up with Google'" [buttonIcon]="'fa-google'" [buttonColor]="'#dd4b39'" [buttonBorder]="'none'"></third-party-button>
        <third-party-button [buttonText]="'Sign up with LinkedIn'" [buttonIcon]="'fa-linkedin'" [buttonColor]="'#005983'" [buttonBorder]="'none'"></third-party-button>
      </div>
    </div>
  </div>
  <div class="or-line-container">
    <div class="or-line">
      <span>or</span>
    </div>
  </div>
  <div>
    <div id="left-box" class="col-sm-6">
      <text-box [placeholderText]="'First Name'" [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxBorder]="'none'" [textValue]="apiResponse.first_name"></text-box>
    </div>
    <div id="right-box" class="col-sm-6 text-left">
      <text-box [placeholderText]="'Last Name'" [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxBorder]="'none'" [textValue]="apiResponse.last_name"></text-box>
    </div>

    <div id="left-box" class="col-sm-6">
      <text-box [placeholderText]="'Email'" [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxBorder]="'none'" [textValue]="apiResponse.email"></text-box>
    </div>
    <div id="right-box" class="col-sm-6 text-left">
      <text-box [placeholderText]="'Confirm Email'" [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxBorder]="'none'"></text-box>
    </div>

    <div id="left-box" class="col-sm-6" [ngStyle]="{'display': disabledField}">
      <text-box [placeholderText]="'Password'" [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxType]="'password'" [textboxBorder]="'none'" [isDisabled]="disabledField"></text-box>
    </div>
    <div id="right-box" class="col-sm-6 text-left" [ngStyle]="{'display': disabledField}">
      <text-box [placeholderText]="'Confirm Password'" [fontColor]="'#4c4c4d'" [textboxColor]="'#EBECED'" [boxWidth]="'250px'" [textboxType]="'password'" [textboxBorder]="'none'" [isDisabled]="disabledField"></text-box>
    </div>
  </div>

  <div>
    <div id="left-box" class="col-sm-6">
      <div class="select-school-label">Select a School:</div>
    </div>

    <div id="right-box" class="col-sm-6 text-left select-school-container">
      <select>
        <option *ngFor="let x of supportedSchools" [selected]="x === selectedSchool">{{x}}</option>
      </select>
    </div>
  </div>

  <div>
    <div id="left-box" class="col-sm-6">
      <div class="date-of-birth-text">Date of Birth:</div>
    </div>
    <div id="right-box" class="col-sm-6 text-left">
      <p-calendar [(ngModel)]="value" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"></p-calendar>
    </div>
  </div>

  <div id="left-box" class="col-sm-6 gender-terms-container">
    <div class="gender-container">
      <input type="radio" name="gender" value="male"><span class="check-box">Male</span>
      <input type="radio" name="gender" value="female"><span class="check-box">Female</span><br>
    </div>
    <check-box [checkboxText]="'I agree to the terms and conditions'" [fontWeight]="'500'" [fontColor]="'black'" class="terms-conditions-container"></check-box>
  </div>

  <div id="right-box" class="col-sm-6 text-left">
    <div id="sign-up-button-container"><button class="btn-warning btn-lg sign-up-button">Sign Up</button> <br></div>
  </div>

</div>
<div class="footer-container">
  <footer-bar [footerText]="'© 2016 Spore. All Rights Reserved. | Terms of Use | Privacy | Security Policy | Powered by SOTI ©'"></footer-bar>
</div>
