@import '../../../assets/styles/spore-colors';

.sign-up-container {
  padding: 0;
}

.header-text {
  color: $color-spore-orange;
  font-size: 60px;
  text-align: center;
  padding: 50px 0 30px 0;
}

.close-button {
  color: $color-spore-grey;
  font-size: 24px;
  padding-left: 4px;
  cursor: pointer;
}

.sign-up-wrapper {
  padding-bottom: 30%;
}

#left-box {
  text-align: right;
  padding-bottom: 15px;
}

#right-box {
  padding-bottom: 15px;
}

#center-box {
  text-align: center;
}

.third-party-buttons-container {
}

#google-sign-up{
  text-align: center;
}

.or-wrapper {
  padding: 40px 0;
  span {
    padding: 0 12px;
  }
}
.or-line {
  border-color: black;
  width: 200px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 4px;
}

.date-of-birth-text {
  font-size: 18px;
  padding-top: 2px;
  padding-right: 143px
}

.select-school-label {
  font-size: 18px;
  padding-top: 10px;
  padding-right: 119px;
}

.select-school-container {
  padding-bottom: 15px;
}

select {
  padding: 8px 12px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #EBECED;
  width: 250px;
}

select option {color: $color-spore-grey}

.check-box {
  font-size: 18px;
  padding-left: 5px;
}

.terms-conditions-container {
  font-size: 14px;
  margin-right: -12px;
  line-height: 60px;
}

.terms-conditions-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block
}

#sign-up-button-container {
  padding-top: 10px;
  padding-bottom: 20px;
}

.sign-up-button {
  background-color: $color-spore-orange;
  width: 250px;
}

.footer-container {
  padding-top: 40px;
}

.required-field {
  position: absolute;
  padding-top: 40px;
  color: red;
  z-index: -1;
  font-size: 12px;
  font-style: italic;
  &.termsAndConditions {
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  #left-box, #right-box {
    text-align: center;
  }
  .or-line {
    width: 125px;
  }
}

@media screen and (max-width: 615px) {
  #fb-sign-up, #google-sign-up, #linkedin-sign-up{
    text-align: center;
  }
}

@media screen and (max-height: 700px) {
  .sign-up-wrapper {
    padding-bottom: 42%;
  }
}
