@import '../../../assets/styles/spore-colors';

.sign-up-container {
  padding: 0;
}

.header-text {
  color: $color-spore-orange;
  font-size: 60px;
  text-align: center;
  padding: 50px 0 30px 0;
}

.close-button {
  color: $color-spore-grey;
  font-size: 24px;
  padding-left: 4px;
  cursor: pointer;
}

#left-box {
  text-align: right;
  padding-bottom: 15px;
}

#right-box {
  padding-bottom: 15px;
}

#center-box {
  text-align: center;
}

.third-party-buttons-container {
  padding-bottom: 30px;
}

#google-sign-up{
  text-align: center;
}

.or-line-container {
  padding-bottom: 30px;
}

.or-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  span {
    background: white;
    padding: 0 10px;
  }
}

.date-of-birth-text {
  font-size: 18px;
  padding-top: 2px;
  padding-right: 143px
}

.select-school-label {
  font-size: 18px;
  padding-top: 10px;
  padding-right: 119px;
}

.select-school-container {
  padding-bottom: 15px;
}

select {
  padding: 8px 12px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #EBECED;
  width: 250px;
}

select option {color: $color-spore-grey}

.gender-terms-container {
  padding-top: 5px;
}

.gender-container {
  padding-right: 108px;
}

.check-box {
  font-size: 18px;
  padding-left: 5px;
}

.terms-conditions-container {
  font-size: 14px;
  margin-right: -6px;
  padding-right: 4px;
}

#sign-up-button-container {
  padding-top: 10px;
  padding-bottom: 20px;
}

.sign-up-button {
  background-color: $color-spore-orange;
  width: 250px;
}

.footer-container {
  padding-top: 40px;
}

.required-field {
  position: absolute;
  padding: 40px 0 0 12px;
  color: red;
  z-index: -1;
  &.termsAndConditions {
    padding: 28px 0 0 20px;
  }
}

@media screen and (max-width: 767px) {
  #left-box, #right-box {
    text-align: center;
  }
}

@media screen and (max-width: 615px) {
  #fb-sign-up, #google-sign-up, #linkedin-sign-up{
    text-align: center;
  }
}
